<section class="flex flex-col lg:flex-row gap-5 max-w-7xl mx-auto">
  <div class="w-full border mb-10">
    <h1
      class="text-2xl md:text-5xl font-bold text-teal-500 underline text-center mb-5"
    >
      Patient Form
    </h1>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit($event)"
      class="max-w-md mx-auto"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- ContactNo -->
        <app-input
          cType="text"
          label="Contact No"
          [formControl]="getControl('ContactNo')"
          [isSubmitted]="isSubmitted"
          (keydown.enter)="handleEnterKey($event, 0)"
        ></app-input>
        <!-- RegNo -->
        <app-input
          cType="text"
          label="Registration No"
          [formControl]="getControl('RegNo')"
          (keydown.enter)="handleEnterKey($event, 1)"
        ></app-input>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Name -->
        <app-input
          cType="text"
          label="Patient Name"
          [formControl]="getControl('Name')"
          [isSubmitted]="isSubmitted"
          (keydown.enter)="handleEnterKey($event, 2)"
        ></app-input>
        <!-- Sex -->
        <app-input
          cType="select"
          [options]="options"
          label="Sex"
          [formControl]="getControl('Sex')"
          (keydown.enter)="handleEnterKey($event, 3)"
        ></app-input>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- FatherName -->
        <app-input
          cType="text"
          label="Father Name"
          [formControl]="getControl('FatherName')"
          (keydown.enter)="handleEnterKey($event, 4)"
        ></app-input>
        <!-- MotherName -->
        <app-input
          cType="text"
          label="Mother Name"
          [formControl]="getControl('MotherName')"
          (keydown.enter)="handleEnterKey($event, 5)"
        ></app-input>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- NID -->
        <app-input
          cType="text"
          label="NID"
          [formControl]="getControl('NID')"
          (keydown.enter)="handleEnterKey($event, 6)"
        ></app-input>
        <!-- Dob -->
        <app-input
          cType="date"
          label="Date of Birth"
          [formControl]="getControl('Dob')"
          (keydown.enter)="handleEnterKey($event, 7)"
        ></app-input>
      </div>
      <!-- Address -->
      <app-input
        cType="text"
        label="Address"
        [formControl]="getControl('Address')"
        (keydown.enter)="handleEnterKey($event, 8)"
      ></app-input>
      <!-- Remarks -->
      <app-input
        cType="text"
        label="Remarks"
        [formControl]="getControl('Remarks')"
        (keydown.enter)="handleEnterKey($event, 9)"
      ></app-input>

      <div class="flex gap-2">
        <!-- Save -->
        <app-input
          label="Save"
          cType="submit"
          (keydown.enter)="handleEnterKey($event, 10)"
          class="w-full"
        ></app-input>

        <button
          (click)="formReset($event)"
          class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 h-10"
        >
          Clear
        </button>
      </div>
    </form>
  </div>

  <div class="w-full border mb-10 px-3 max-h-[85vh] overflow-scroll">
    <h1
      class="text-2xl md:text-5xl font-bold text-teal-500 underline text-center"
    >
      Patient List
    </h1>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
      <div class="pb-4 bg-white dark:bg-gray-900 ml-2">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
          <div
            class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <app-search></app-search>
          </div>
          <input
            #searchInput
            type="text"
            id="table-search"
            autocomplete="off"
            class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-teal-500 focus:border-teal-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
            placeholder="Search for Patients"
            (input)="onSearchPatient($event)"
            (keydown)="handleSearchKeyDown($event)"
          />
        </div>
      </div>
      @if (isLoading$ | async) {
      <p>Loading ...</p>
      } @else if (hasError$ | async) {
      <p>There was an error loading data.</p>
      } @else {
      <table
        class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-1 py-3">Reg. No.</th>
            <th scope="col" class="px-1 py-3">name</th>
            <th scope="col" class="px-1 py-3">contact</th>
            <th scope="col" class="px-1 py-3">father</th>
            <th scope="col" class="px-1 py-3">mother</th>
            <th scope="col" class="px-1 py-3">sex</th>
            <th scope="col" class="px-1 py-3">birth of day</th>
            <th scope="col" class="px-1 py-3">nid no.</th>
            <th scope="col" class="px-1 py-3">Address</th>
            <th scope="col" class="px-1 py-3">remarks</th>
            <th scope="col" class="px-1 py-3">post by</th>
            <th scope="col" class="px-1 py-3">entry date</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredPatientList(); track item?.id || $index) {
          <tr
            (click)="onUpdate(item)"
            id="row-{{ $index }}"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-teal-600 hover:text-white dark:hover:bg-gray-600 cursor-pointer"
            [ngClass]="{ '!bg-teal-600 text-white': $index === highlightedTr }"
          >
            <th
              scope="row"
              class="p-1 font-medium whitespace-nowrap dark:text-white"
            >
              {{ item?.RegNo }}
            </th>
            <th
              scope="row"
              class="p-1 font-medium whitespace-nowrap dark:text-white"
            >
              {{ item?.Name }}
            </th>
            <td class="p-1">
              {{ item?.ContactNo }}
            </td>
            <td class="p-1">
              {{ item?.FatherName }}
            </td>
            <td class="p-1">
              {{ item?.MotherName }}
            </td>
            <td class="p-1">
              {{ item?.Sex }}
            </td>
            <td class="p-1">
              {{ transform(item?.Dob, "dd/MM/yyyy") }}
            </td>
            <td class="p-1">
              {{ item?.NID }}
            </td>
            <td class="p-1">
              {{ item?.Address }}
            </td>
            <td class="p-1">
              {{ item?.Remarks }}
            </td>
            <td class="p-1">
              {{ item?.PostedBy }}
            </td>
            <td class="p-1">
              {{ transform(item?.EntryDate, "dd/MM/yyyy") }}
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
</section>

@if (success()) {
<app-toast-success [title]="success()"></app-toast-success>
}
