<aside
  id="sidebar-multi-level-sidebar"
  class="fixed top-0 left-0 z-40 w-12 hover:w-72 h-screen overflow-hidden"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-teal-300 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li class="cursor-pointer">
        <a
          routerLink="/"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <span class="ms-12 text-xl font-bold text-teal-700">SuperSoft</span>
        </a>
      </li>
      @for (item of sidebarData; track $index) { @if (item?.menu) {
      <li class="cursor-pointer">
        <a
          [routerLink]="item?.route"
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          [attr.aria-controls]="item.label"
          [attr.data-collapse-toggle]="item?.label"
        >
          <app-all-svg [icon]="item.icon"></app-all-svg>
          <span
            class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
            >{{ item.label }}</span
          >
          @if (item?.menu) {<app-all-svg icon="sidebar-down-arrow"></app-all-svg
          >}
        </a>
        <ul [id]="item?.label" class="hidden py-2 space-y-2 bg-teal-200 rounded-lg">
          @for (subItem of item.menu; track $index) {
          <li class="cursor-pointer">
            <a
              [routerLink]="subItem?.route"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >{{ subItem.label }}</a
            >
          </li>
          }
        </ul>
      </li>
      } @else{
      <li>
        <a
          [routerLink]="item?.route"
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
        >
          <app-all-svg [icon]="item.icon"></app-all-svg>
          <span
            class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
            >{{ item.label }}</span
          >
          @if (item?.menu) {<app-all-svg icon="sidebar-down-arrow"></app-all-svg
          >}
        </a>
      </li>
      } }
    </ul>
  </div>
</aside>